/local-init.el
/.cache
/auto-save-list
/eclipse.jdt.ls
/eln-cache
/elpa
/transient
/workspace
/custom.el
/projects
/elfeed.org
/backups-and-autosaves
/.org-id-locations
/.lsp*
.apl.history
.compile-commands.el
.dap-breakpoints
.ipynb_checkpoints/
.python-version
bookmarks
devdocs/
eshell/
org-roam.db
request/